#new {
    margin-bottom: 100px;
}

table {
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
    margin-bottom: 40px;
}

p {
    font-size: 30px;
}
